.task
    width: 300px
    padding: 5px
    border: 1px solid gray
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 10px

    &:last-child
        margin-bottom: 0

.label
    color: gray
