.task
    width: 30em
    padding: 0.5em
    border: 1px solid gray
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 1em

    &:last-child
        margin-bottom: 0

.changeActionsBlock
    display: flex

    button
        margin-right: 0.5em

input
    &.label
        width: 150px
        height: 18px
        margin: 14px 0

.label
    color: black
    font-size: 1.6em
    margin: 1em 0
    padding: 0
